<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :ssid %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :grade %>
  <%= f.input :phone %>
  <%= f.input :transported %>
  <%= f.input :date_enrolled %>
  <%= f.input :guardian_name %>
  <%= f.input :morning_stop_id, :as => :select, :collection => @student_stops_select %>
  <%= f.input :afternoon_stop_id, :as => :select, :collection => @student_stops_select %>
  <%= f.input :address %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn' %>
  </div>
<% end %>
