<%- model_class = Student -%> 

<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> (<%= @students.count %>)</h3>
</div>

<div style="float:left;padding-right:260px">
  <h4>Import Students</h4>
  <% if current_user.admin? %>
    <%= form_tag import_students_path, multipart: true do %>
      <%= file_field_tag :file , :required => :true %>
      <%= submit_tag "Import" %>
    <% end %>
  <% end %>
</div>
<% if current_user.admin? %>
  <div id="csv-for-distance" style="float:left;padding-right:35px;">  <%= link_to "Download CSV For Distance Calc", students_path(format: "csv", type: "distance_calc"), :class => 'btn btn-mini' %> </div>
  <div id="csv-for-merge" style="float:left;padding-right:35px;">  <%= link_to "Download CSV For MailMerge", students_path(format: "csv", type: "mailmerge"), :class => 'btn btn-mini' %> </div>
  <div id="csv-for-update">  <%= link_to "Download CSV For Update", students_path(format: "csv", type: "forupdate"), :class => 'btn btn-mini' %> </div>
<% end %>

<%= form_tag '/', :method => 'get', :id => "student_search" do %>
  <p  style="clear:both;">
    <h6>Search for student:</h6>
    <%= text_field_tag :search, params[:search] %>
  </p>
<% end %>

<div id="student_listing">
  <div id="student_list">
    <%= render :partial => 'students/partials/student_list', :locals => {:model_class => model_class} %>
  </div>
</div>

<% if current_user.admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_student_path,
              :class => 'btn btn-primary' %>
<% end %>
