<%- model_class = Student -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @student.first_name  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @student.last_name  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade) %>:</strong></dt>
  <dd><%= @student.grade  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @student.address  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @student.phone  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:transported) %>:</strong></dt>
  <dd><%= @student.transported  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_enrolled) %>:</strong></dt>
  <dd><%= @student.date_enrolled  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:guardian_name) %>:</strong></dt>
  <dd><%= @student.guardian_name  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning_stop_id) %>:</strong></dt>
  <dd><%= @student.pickup_stop_address  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:afternoon_stop_id) %>:</strong></dt>
  <dd><%= @student.dropoff_stop_address || 'n/a' %></dd>
</dl>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x400&sensor=false&zoom=15&markers=#{@student.latitude}%2C#{@student.longitude}"%>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              students_path, :class => 'btn'  %>
  <% if current_user.admin? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_student_path(@student), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                student_path(@student),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
