<h1>Listing users</h1>

  <% if @users.count > 0 %>
    <div class="table-paginate"><%= will_paginate @users, :next_label => 'Next', :previous_label => 'Previous' %></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sortable "id", "Id" %></th>
          <th><%= sortable "Username", "Username" %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, user_path(user) %></td>
            <td><%= link_to user.username, user_path(user) %></td>
            <td>
              <% if current_user.admin? %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_path(user), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            user_path(user),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              <% else %>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            user_path(user), :class => 'btn btn-mini' %>
              <% end %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <h4>No results found.</h4>
  <% end %>


<br>

<% if current_user.admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_path,
              :class => 'btn btn-primary' %>
<% end %>