<h1>New user</h1>

<%= simple_form_for(@user , :url => users_path()) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :username, :required => true, :autofocus => true %>
    <%= f.input :password%>
    <%= f.input :password_confirmation %>
    <%= f.input :admin %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>  
<% end %>

<%= link_to 'Back', users_path %>
