<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd><%= @user.id %></dd>
  <dt><strong>Username:</strong></dt>
  <dd><%= @user.username %></dd>
  <dt><strong>Admin:</strong></dt>
  <dd><%= @user.admin %></dd>
  <dt><strong>Date Created:</strong></dt>
  <dd><%= @user.created_at %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <% if current_user.admin? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
