<%= simple_form_for @stop, :url => route_stop_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :route_id %>
  <%= f.input :address %>
  <%= f.input :morning_pickup_number %>
  <%= f.input :afternoon_pickup_number %>
  <%= f.input :manual_morning_arrive_time %>
  <%= f.input :morning_arrive_time %>
  <%= f.input :manual_afternoon_arrive_time %>
  <%= f.input :afternoon_arrive_time %>
  <br />
  <div>
    <%= label_tag('lat', "Latitude:") %>
    <%= text_field_tag 'lat', @stop.latitude , disabled: true %>
  </div>
  <br />
  <div>
    <%= label_tag('long', "Longitude:") %>
    <%= text_field_tag 'long', @stop.longitude , disabled: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                route_stops_path, :class => 'btn' %>
  </div>
<% end %>
