<%- model_class = Stop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:route_id) %></th>
      <th><%= model_class.human_attribute_name(:morning_pickup_number) %></th>
      <th><%= model_class.human_attribute_name(:afternoon_pickup_number) %></th>
      <th><%= model_class.human_attribute_name(:morning_arrive_time) %></th>
      <th><%= model_class.human_attribute_name(:afternoon_arrive_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td><%= link_to stop.id, route_stop_path(stop.route.id, stop) %></td>
        <td><%= stop.route_id %></td>
        <td><%= stop.morning_pickup_number %></td>
        <td><%= stop.afternoon_pickup_number %></td>
        <td><%= stop.morning_arrive_time %></td>
        <td><%= stop.afternoon_arrive_time %></td>
        <td><%=l stop.created_at %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_route_stop_path(stop.route.id, stop), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        route_stop_path(stop.route.id, stop),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% else %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        route_stop_path(stop.route.id, stop), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_route_stop_path(@stops.first.route.id),
              :class => 'btn btn-primary' %>
<% end %>