<%- model_class = Stop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:route_id) %>:</strong></dt>
  <dd><%= @stop.route_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @stop.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning_pickup_number) %>:</strong></dt>
  <dd><%= @stop.morning_pickup_number || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:afternoon_pickup_number) %>:</strong></dt>
  <dd><%= @stop.afternoon_pickup_number || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manual_morning_arrive_time) %>:</strong></dt>
  <dd><%= @stop.manual_morning_arrive_time  || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning_arrive_time) %>:</strong></dt>
  <dd><%= @stop.morning_arrive_time || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manual_afternoon_arrive_time) %>:</strong></dt>
  <dd><%= @stop.manual_afternoon_arrive_time || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:afternoon_arrive_time) %>:</strong></dt>
  <dd><%= @stop.afternoon_arrive_time || 'n/a'%></dd>
</dl>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x400&sensor=false&zoom=15&markers=#{@stop.latitude}%2C#{@stop.longitude}"%>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              route_stops_path(@stop.route), :class => 'btn'  %>
  <% if current_user.admin? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_route_stop_path(@stop.route, @stop), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                route_stop_path(@stop.route, @stop),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
