<% if @students.count > 0 %>
  <div class="table-paginate"><%= will_paginate(@students, :renderer => 'BootstrapPaginationHelper::LinkRenderer' ) %></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "ssid", "SSID" %></th>
        <th><%= sortable "first_name", "First Name" %></th>
        <th><%= sortable "last_name", "Last Name" %></th>
        <th><%= sortable "route", "Route" %></th>
        <th><%= sortable "grade", "Grade" %></th>
        <th><%= sortable "address", "Address" %></th>
        <th><%= sortable "phone", "Phone" %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.ssid %></td>
          <td><%= link_to student.first_name, student_path(student) %></td>
          <td><%= link_to student.last_name, student_path(student) %></td>
          <td><%= student.pickup_stop_route_name %></td>
          <td><%= student.grade %></td>
          <td><%= student.address %></td>
          <td><%= student.phone %></td>
          <td>
            <% if current_user.admin? %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_student_path(student), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          student_path(student),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            <% else %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          student_path(student), :class => 'btn btn-mini' %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h4>No results found.</h4>
<% end %>