<%= f.simple_fields_for :stop_address do |address| %>
  <%= address.input :address_line_1 %>
  <%= address.input :address_line_2 %>
  <%= address.input :city %>
  <%= address.input :state %>
  <%= address.input :zip %>
<% end %>
