<%= simple_form_for @route, :html => { :class => 'form-horizontal' } do |f| %>
  <div id ="edit-route-fields">
    <%= f.input :name %>
    <%= f.input :driver %>
    <% unless @route.new_record? %>
      <%= f.input :morning_start_stop_id, :as => :select, :collection => @route_stops_select %>
      <%= f.input :morning_end_stop_id, :as => :select, :collection => @route_stops_select %> 
    <% end %>
    <%= f.input :morning_start_time %>
    <% unless @route.new_record? %>
      <%= f.input :afternoon_start_stop_id, :as => :select, :collection => @route_stops_select %>
      <%= f.input :afternoon_end_stop_id, :as => :select, :collection => @route_stops_select %>
    <% end %>
    <%= f.input :afternoon_start_time %>
  </div>    
  <br />
  <hr />
  <h3> Stops </h3>
  <div id="stops">

    <%= f.simple_fields_for :stops do |stop|%>
      <%= render 'stop_fields', :f => stop %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add new stop', f, :stops, :class => 'btn orange' %>
    </div>      
  </div>    
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                routes_path, :class => 'btn' %>
  </div>
<% end %>
