<div class="nested-fields">
  <% unless @route.new_record? %>
    <%= f.input :morning_pickup_number %>
    <%= f.input :morning_arrive_time %>
    <%= f.input :afternoon_pickup_number %>
    <%= f.input :afternoon_arrive_time %>
    <%= f.input :address %>
  <% end %>
  <%= link_to_remove_association "remove stop", f , :class => 'btn' %>
</div>
