<h3> Morning Stops </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Stop #</th>
      <th>Stop Address</th>
      <th>Manual  Time</th>
      <th>Morning Pickup Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% stops.each do |stop| %>
      <% color = nil %>
      <!-- make sure stops with no geocoding are flagged-->
      <% if stop.latitude.nil? or stop.longitude.nil? %>
        <% color = 'red' %>
      <% end %>
      <tr>
        <td><%= stop.morning_pickup_number %></td>
        <td style="background-color:<%= color %>"><%= stop.address %> <span class="badge"><%= stop.morning_students.count %><%= content_tag :a, " students", :href => "#modal-pickup-#{stop.id}", :data => {:toggle => 'modal'} %></span></td>
        <td><%= stop.manual_morning_arrive_time.nil? ? nil : stop.manual_morning_arrive_time.strftime("%I:%M %p") %></td>
        <td><%= stop.morning_arrive_time.nil? ? nil : stop.morning_arrive_time.strftime("%I:%M %p") %></td>
        <td>
          <%= link_to 'View', route_stop_path(stop.route, stop), :class => 'btn btn-mini' %>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_route_stop_path(stop.route, stop), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
      <% 
        content = ''
        stop.morning_students.each do |stud| 
          content = content + stud.first_name +  ' ' + stud.last_name + '  --  ' 
        end 

      %>
      <%= modal_dialog :id => "modal-pickup-#{stop.id}",
         :header => { :show_close => true, :dismiss => 'modal', :title => stop.address },
         :body   => content
      %> 
    <% end %>
  </tbody>
</table>
<hr />

<h3> Afternoon Stops </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Stop #</th>
      <th>Stop Address</th>
      <th>Manual  Time</th>
      <th>Afternoon Drop-off Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @return_stops.each do |stop| %>
      <tr>
        <td><%= stop.afternoon_pickup_number %></td>
        <td><%= stop.address %> <span class="badge"><%= stop.afternoon_students.count %><%= content_tag :a, " students", :href => "#modal-pickup-#{stop.id}", :data => {:toggle => 'modal'} %></span></td>
        <td><%= stop.manual_afternoon_arrive_time.nil? ? nil : stop.manual_afternoon_arrive_time.strftime("%I:%M %p") %></td>
        <td><%= stop.afternoon_arrive_time.nil? ? nil : stop.afternoon_arrive_time.strftime("%I:%M %p") %></td>
        <td>
          <%= link_to 'View', route_stop_path(stop.route, stop), :class => 'btn btn-mini' %>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_route_stop_path(stop.route, stop), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
      <% 
        content = ''
        stop.afternoon_students.each do |stud| 
          content = content + stud.first_name +  ' ' + stud.last_name + '   --   ' 
        end 

      %>
      <%= modal_dialog :id => "modal-afternoon-#{stop.id}",
         :header => { :show_close => true, :dismiss => 'modal', :title => stop.address },
         :body   => content
      %>
    <% end %>
  </tbody>
</table>
