<%- model_class = Route -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:driver) %></th>
      <th># of students</th>
      <th><%= model_class.human_attribute_name(:morning_start_time) %></th>
      <th><%= model_class.human_attribute_name(:afternoon_start_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= link_to route.id, route_path(route) %></td>
        <td><%= route.name %></td>
        <td><%= route.driver %></td>
        <td><%= route.student_count %></td>
        <td><%= route.morning_start_time.strftime("%I:%M %p") %></td>
        <td><%= route.afternoon_start_time.strftime("%I:%M %p") %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_route_path(route), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        route_path(route),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% else %>   
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        route_path(route), :class => 'btn btn-mini' %>           
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_route_path,
              :class => 'btn btn-primary' %>
<% end %>