<%- model_class = Route -%>
<div class="page-header">
  <h4><%= "Route (#{@student_count} students)" %></h4>

  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?sensor=false">
  </script>


</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @route.name  || 'n/a'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver) %>:</strong></dt>
  <dd><%= @route.driver || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning_start_time) %>:</strong></dt>
  <dd><%= @route.morning_start_time.strftime("%I:%M %p") || 'n/a' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:afternoon_start_time) %>:</strong></dt>
  <dd><%= @route.afternoon_start_time.strftime("%I:%M %p")  || 'n/a'%></dd>
</dl>

<div class ="optimize">
  <% if @ungeocoded_stops  %>
      <h5 style="color:red;">There are some stops in this route which were not geocoded, please fix them first!</h5>
  <% else %>
      <% if current_user.admin? %>
          <%= link_to "Optimize Route",
                      reorder_morning_stops_route_path(@route),
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-danger' %>
      <% end %>
  <% end %>

</div>
<div style='width: 900px;margin:auto;'>
  <div id="map" style='width: 900px; height: 600px;'></div>
</div>

<br />
<label>Map an addresss:</label>
<input id="newaddr" name="newaddr" type="text" />
<input type="submit" value = "map" onclick="mappoint()">

<%= render 'stop_route_fields', :stops => @stops %>
<div id="warnings_panel"></div>
<div id="time_panel"></div>
<hr />
<br />
<% if @return_directions %>
    <%= link_to "Switch To Morning Directions",
                      route_path(@route),
                      :class => 'btn' %> 
<% else %>
    <%= link_to "Switch to Return Directions",
                          route_path(@route, :return => "true"),
                          :class => 'btn' %>           
<% end %>

<div id="directions_panel"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              routes_path, :class => 'btn'  %>
  <% if current_user.admin? %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_route_path(@route), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  route_path(@route),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  <% end %>
</div>
<script>
    var map;
    var directionsDisplay;
    var directionsService;
    var stepDisplay;
    var markerArray = [];
    var time=0;
    var stop =0;
    var cumulative =0;

    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService();

    function initialize() {

        // Create a map and center it on Manhattan.
        var manhattan = new google.maps.LatLng(40.7711329, -82.9741874);
        var mapOptions = {
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: manhattan
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // Create a renderer for directions and bind it to the map.
        var rendererOptions = {
            map: map
        }
        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions_panel'));

        // Instantiate an info window to hold step text.
        stepDisplay = new google.maps.InfoWindow();
        calcRoute(1);
    }

    function renderDirections(result, pOptions) {
        var directionsRenderer = new google.maps.DirectionsRenderer;
        directionsRenderer.setMap(map);
        directionsRenderer.setOptions( { suppressMarkers: true, /*polylineOptions: pOptions */} );
        directionsRenderer.setDirections(result);
    }

    function mappoint(){
        var newaddr = document.getElementById("newaddr").value;
        geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': newaddr}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function calcRoute() {
        addresses = [<%= raw @addresses %>];
        // First, remove any existing markers from the map.
        legs = [];
        var index =0;
        for (var i = 0; i < addresses.length-1; i++) {
            start = addresses[i];
            var waypts = [];
            for(j=1; j < 9; j++){
                if((i) < addresses.length-2){
                    i++;
                    waypts.push({
                        location:addresses[i],
                        stopover:true});
                }
            }
            end = addresses[i+1];
            legs[index] = [start, end, waypts];index++;
        }
        // Now, clear the array itself.
        //markerArray = [];
        i=0;
        var start = legs[i][0];
        var end = legs[i][1];
        var waypts = legs[i][2];
        var request = {
            origin: start,
            destination: end,
            waypoints: waypts,
            optimizeWaypoints: false,
            travelMode: google.maps.TravelMode.DRIVING
        };
        // Retrieve the start and end locations and create
        // a DirectionsRequest using WALKING directions.
        var pOptions = new google.maps.Polyline({
            strokeColor: '#456184',
            strokeOpacity: 1.0,
            strokeWeight: 5
        });
        makerequest(request, legs, i, pOptions);

    }
    function makerequest(request, legs, i, pOptions){
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                i++;legloop(legs, i, null);
                var warnings = document.getElementById('warnings_panel');
                warnings.innerHTML = '<b>' + response.routes[0].warnings + '</b>';
                directionsDisplay.setDirections(response);
                renderDirections(response, pOptions);
                showSteps(response);
            }
        });
    }
    function legloop(legs, i, pOptions ){
        if(i < legs.length) {
            var start = legs[i][0];
            var end = legs[i][1];
            var waypts = legs[i][2];
            var request = {
                origin: start,
                destination: end,
                waypoints: waypts,
                optimizeWaypoints: false,
                travelMode: google.maps.TravelMode.DRIVING
            };
            makerequest(request, legs, i, pOptions);
            // Route the directions and pass the response to a
            // function to create markers for each step.
        }
    }

    function showSteps(directionResult) {
        // For each step, place a marker, and add the text to the marker's
        // info window. Also attach the marker to an array so we
        // can keep track of it and remove it when calculating new
        // routes.
        var summaryPanel = document.getElementById("directions_panel");

        var myRoute = directionResult.routes[0].legs;
        var waypointorder = directionResult.routes[0]['waypoint_order'];
        waypointorder[waypointorder.length]= waypointorder.length;
        stop = 0;
        for (var i = 0; i < myRoute.length; i++) {
            point = myRoute[i].end_location;

            var marker = new google.maps.Marker({
                position: point,
                icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+ (cumulative+stop+1) +'|FFFFFF',
                map: map
            });

            time = time + myRoute[i].duration.value + 90; // add 90 secs to every stop
            marker.time = time;
            //attachInstructionText(marker, ''+addSeconds(marker.time)+''  );


            //var routeSegment = i+1;
            summaryPanel.innerHTML += "";
            //summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
            //summaryPanel.innerHTML += myRoute[i].start_address + " to ";
            //summaryPanel.innerHTML += myRoute[i].end_address + "<br />";
            //summaryPanel.innerHTML += addSeconds(time) + "<br />";
            //summaryPanel.innerHTML += myRoute[i].distance.text + "<br /><br />";

            stop++;
        }
        cumulative = cumulative+stop;

    }

    function attachInstructionText(marker, text) {
        google.maps.event.addListener(marker, 'click', function() {
            // Open an info window when the marker is clicked on,
            // containing the text of the step.
            stepDisplay.setContent(text);
            stepDisplay.open(map, marker);
        });
    }
    function addSeconds(seconds) {
        var d1 = new Date("October 13, 2010 07:12:00")
        var d2= new Date(d1.getTime() + seconds*1000);
        return d2.getHours() + ':'+ twodigit(d2.getMinutes());
    }
    function twodigit(n){
        return n > 9 ? "" + n: "0" + n;
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>