<%- model_class = Route -%>
<div class="page-header">
  <h4><%= "Route (#{@student_count} students)" %></h4>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>

  
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @route.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver) %>:</strong></dt>
  <dd><%= @route.driver %></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning_start_time) %>:</strong></dt>
  <dd><%= @route.morning_start_time.strftime("%I:%M %p") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:afternoon_start_time) %>:</strong></dt>
  <dd><%= @route.afternoon_start_time.strftime("%I:%M %p") %></dd>
</dl>

<div id="start"><%= @route.morning_start_stop.address %></div>
<div id="end"><%= @route.morning_end_stop.address %></div>
    
<div class ="optimize">
<%= link_to "Optimize Route",
            reorder_morning_stops_route_path(@route),
            :data => { :confirm => 'Are you sure?' },
            :class => 'btn btn-danger' %>
</div>              
<div style='width: 1200px;margin:auto;'>
  <div id="map" style='width: 1200px; height: 600px;'></div>
</div>

<%= render 'stop_route_fields', :stops => @stops %>

<div id="directions_panel"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              routes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_route_path(@route), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              route_path(@route),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<script>
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var chicago = new google.maps.LatLng(41.850033, -87.6500523);
  var mapOptions = {
    zoom: 6,
    center: chicago
  }
  map = new google.maps.Map(document.getElementById("map"), mapOptions);
  directionsDisplay.setMap(map);
  calcRoute();  
}
function calcRoute2() {
  var start = document.getElementById("end").innerHTML;
  var end = document.getElementById("start").innerHTML;
  var waypts = [];

  var checkboxArray = ['555 e main st columbus, oh', '45 N high st columbus, oh', '1254 morse rd columbus, oh']; // careful
  for (var i = 0; i < checkboxArray.length; i++) {

      waypts.push({
          location:checkboxArray[i],
          stopover:true
      });
    
  }

  var request = {
      origin: start,
      destination: end,
      waypoints: waypts,
      optimizeWaypoints: false,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById("directions_panel");
      summaryPanel.innerHTML = "";
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i+1;
        summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
        summaryPanel.innerHTML += route.legs[i].end_address + "<br />";
        summaryPanel.innerHTML += route.legs[i].distance.text + "<br /><br />";
      }
    }
  });
}
function calcRoute() {
  var start = document.getElementById("start").innerHTML;
  var end = document.getElementById("end").innerHTML;
  var waypts = [];

  var checkboxArray = [<%= raw @addresses %>]; // careful
  for (var i = 0; i < checkboxArray.length; i++) {

      waypts.push({
          location:checkboxArray[i],
          stopover:true
      });
    
  }

  var request = {
      origin: start,
      destination: end,
      waypoints: waypts,
      optimizeWaypoints: false,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById("directions_panel");
      summaryPanel.innerHTML = "";
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i+1;
        summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
        summaryPanel.innerHTML += route.legs[i].end_address + "<br />";
        summaryPanel.innerHTML += route.legs[i].distance.text + "<br /><br />";
      }
    }
  });
}
            google.maps.event.addDomListener(window, 'load', initialize);
</script>
