/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#welcome_message{
  float: right;
  padding-right: 400px;
  margin-top: 30px;
}
span.badge a, span.badge a:visited   {
  color:white;
}
 .zae-logo{
  float: left;
  padding-right: 25px;
 }

 .navbar a.brand{
  float: none;
  font-size: 13px;
  margin-top:30px;
 }
 .sidebar-nav{
  display: block;
 }

 @media (min-width: 250px) {
 .zae-logo{
  width:15%;
 }
 .sidebar-nav{
  display: none;
 }
}
 @media (min-width: 500px) {
   .navbar a.brand{
  float: none;
  font-size: 23px;
  margin-top:30px;
 }
 .zae-logo{
  width:25%;
 }
 .sidebar-nav{
  display: none;
 }
}
@media (min-width: 1000px) {
   .navbar a.brand{
  float: none;
  font-size: 53px;
  margin-top:30px;
 }
 .sidebar-nav{
  display: block;
 }
}


 #csv-for-merge{
  margin: 0 0 20px 0;
 }
 .optimize a{
   color:white !important;
   font-weight:bold !important;
 }
 .optimize {
   padding-bottom:10px;
 }
 .orange{
  background-image:none !important;
  background-color:orange !important;
  color:white !important;
  font-weight:bold !important;
 }
 
 
 #student_search input{
  height:30px;
 }

 .table-striped th a {
    display: block;
    color: #1D5078;
}
.table-striped th a.asc {
    background-image: url("/images/sortasc.png");
    background-repeat: no-repeat;
    background-position: right center;
}
.table-striped th a.desc {
    background-image: url("/images/sortdesc.png");
    background-repeat: no-repeat;
    background-position: right center;
}
/*.table-paginate {
    display: block;
    margin: 20px auto;
    width: 100%;
}
.table-paginate a, .table-paginate em {
    background: none repeat scroll 0 0 #428BCA;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
}
.table-paginate a:hover, .table-paginate a.current, .table-paginate em:hover, .table-paginate em.current {
    background: none repeat scroll 0 0 #1D5078;
    font-style: normal;
    color: #FFFFFF;
}
*/
 /*****edit route fields ********/
 
 
 #edit-route-fields .route_morning_start_stop_id, #edit-route-fields .route_afternoon_start_stop_id, #edit-route-fields .route_morning_end_stop_id, #edit-route-fields .route_afternoon_end_stop_id, #edit-route-fields .route_name{
  float:left;
  padding: 0 20px 0 0;
 }
 
 #edit-route-fields .route_morning_start_time select,  #edit-route-fields .route_afternoon_start_time select{
  width:60px;
  clear:both;
 }
 
 #edit-route-fields input, #edit-route-fields select{
  margin-bottom:10px;
 }
 
 /**** route edit stop fields *****/
 #stops .nested-fields{
  clear:both;
  width: 500px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 10px;
 }
 
 #stops .nested-fields div.input{
  width:200px;
  margin-bottom:5px;
 }
 
 #stops .nested-fields div.input.route_stops_address, #stops .nested-fields div.input.route_stops_address input{
  width:400px;
  padding-bottom: 5px;
 }
  
 #stops .nested-fields div.input.route_stops_morning_pickup_number, #stops .nested-fields div.input.route_stops_afternoon_pickup_number{
  float:left;
  clear:both;
 }
 
 #stops .nested-fields div.input.route_stops_morning_arrive_time, #stops .nested-fields div.input.route_stops_afternoon_arrive_time{
  float:left
 }
  
 #stops .nested-fields label{
  width:190px;
 }
 
 #stops .nested-fields input, #stops .nested-fields select{
  width:60px;
  margin-bottom:5px;
 }
